 <!--
        
      
        Air Manjeri
        http://185.193.112.155:18146/;

       

        
        Radio Malayalam USA
        http://167.114.131.90:5412/stream3

        Pravasi Bharathi 810AM Radio Malayalam
        http://198.27.67.39:8000/pravasiradio.mp3

        Theeram Radio
        http://titan.shoutca.st:8647/stream

        Gosree Radio
        http://188.40.135.197:8404/stream?type=http&nocache=38617
        http://gosreetv.in/

        http://radiomattoli.com/
        http://87.117.205.22:8066/stream

        http://www.radiomaharani.com/
        http://audiocp.globaliway.co.in:7235/start/maharani/;stream.mp3
 -->
<div class="hp-media-tiles">

        <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://perseus.shoutca.st:8175/stream.mp3',38)" 
        ng-class="( (revampvm.selectedRadio===38) ?'radio-title-selected':'')">
          <div class="media-title">Rad. Onatukara</div>
          <span class="media-sub-title">India</span>
          <span class='load-icon38'></span>
          <div class="media-courtesy">
              <a  ng-click="revampvm.doNavigate('http://www.radioonattukara.com/',$event)" 
              ng-href="javascript:return false">Courtesy</a>
          </div>
      </div>

      <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://94.23.36.180:5022/stream?type=http&nocache=974',12)" 
        ng-class="( (revampvm.selectedRadio===12) ?'radio-title-selected':'')">
          <div class="media-title">Oman Mal.</div>
          <span class="media-sub-title">Muscat</span>
          <span class='load-icon12'></span>
          <div class="media-courtesy">
              <a  ng-click="revampvm.doNavigate('http://omanmalayalam.com/',$event)" 
              ng-href="javascript:return false">Courtesy</a>
          </div>
      </div>

      <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://99.198.118.250:8044/stream',41)" 
      ng-class="( (revampvm.selectedRadio===41) ?'radio-title-selected':'')">
        <div class="media-title">Pravasi Malayali</div>
        <span class="media-sub-title">India</span>
        <span class='load-icon41'></span>
        <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://pravasimalayaliradio.in/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
    </div>

    <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://streamingv2.shoutcast.com/RadioLMR',27)" 
    ng-class="( (revampvm.selectedRadio===27) ?'radio-title-selected':'')">
      <div class="media-title">LMR</div>
      <span class="media-sub-title">UK</span>
      <span class='load-icon27'></span>
      <div class="media-courtesy">
            <a  ng-click="$event.stopPropagation();" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
  </div>

  <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://87.117.228.65:34857/;',16)" 
  ng-class="( (revampvm.selectedRadio===16) ?'radio-title-selected':'')">
    <div class="media-title">Njan Malayalee</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon16'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://njanmalayalee.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://20103.live.streamtheworld.com/SUNO917.mp3',21)" 
  ng-class="( (revampvm.selectedRadio===21) ?'radio-title-selected':'')">
    <div class="media-title">Radio Suno</div>
    <span class="media-sub-title">Qatar</span>
    <span class='load-icon21'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://suno.qa/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://usa1.fastcast4u.com/proxy/radiogra?mp=/1',25)" 
  ng-class="( (revampvm.selectedRadio===25) ?'radio-title-selected':'')">
    <div class="media-title">Radio Graamam</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon25'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://radiograamam.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>f
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://192.240.102.198:14349/stream?type=http&nocache=2',26)" 
  ng-class="( (revampvm.selectedRadio===26) ?'radio-title-selected':'')">
    <div class="media-title">Kuwait1FM.com</div>
    <span class="media-sub-title">Kuwait</span>
    <span class='load-icon26'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://kuwait1fm.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

  <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://19393.live.streamtheworld.com/HIT_CLASSICSAAC_SC?ua=RadioTime&ttag=RadioTime&DIST=TuneIn&TGT=TuneIn&maxServers=2&tdtok=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6ImZTeXA4In0.e',22)" 
  ng-class="( (revampvm.selectedRadio===22) ?'radio-title-selected':'')">
    <div class="media-title">Hit Classics</div>
    <span class="media-sub-title">UAE</span>
    <span class='load-icon22'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://www.hit967.ae/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>




<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://radio.hostonnet.com:8000/;stream.mp3',23)" 
  ng-class="( (revampvm.selectedRadio===23) ?'radio-title-selected':'')">
    <div class="media-title">Kerala Radio</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon23'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://onlineradios.in/kerala/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>


      <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://185.193.112.155:18344/;stream.mp3',39)" 
      ng-class="( (revampvm.selectedRadio===39) ?'radio-title-selected':'')">
        <div class="media-title">Radio Kairali</div>
        <span class="media-sub-title">India</span>
        <span class='load-icon39'></span>
        <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://radiokairali.blogspot.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
    </div>

    <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://216.244.71.98:8109/stream',40)" 
      ng-class="( (revampvm.selectedRadio===40) ?'radio-title-selected':'')">
        <div class="media-title">TCR Live</div>
        <span class="media-sub-title">India</span>
        <span class='load-icon40'></span>
        <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://tcrliveradio.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
    </div>

    
    <div class="hp-tile" ng-click="revampvm.toggleAudioPlay(' http://198.27.67.39:8000/pravasiradio.mp3',42)" 
    ng-class="( (revampvm.selectedRadio===42) ?'radio-title-selected':'')">
      <div class="media-title">Pravasi Bharathi</div>
      <span class="media-sub-title">India</span>
      <span class='load-icon42'></span>
      <div class="media-courtesy">
          <a  ng-click="revampvm.doNavigate('http://www.pravasibharathi.com/index.php',$event)" 
          ng-href="javascript:return false">Courtesy</a>
      </div>
  </div>


 
        

     

      <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://mazhavilfm.out.airtime.pro:8000/mazhavilfm_a',24)" 
      ng-class="( (revampvm.selectedRadio===24) ?'radio-title-selected':'')">
        <div class="media-title">Mazhavil FM</div>
        <span class="media-sub-title">USA</span>
        <span class='load-icon24'></span>
        <div class="media-courtesy">
                <a  ng-click="revampvm.doNavigate('http://mazhavilfm.com/',$event)" 
                ng-href="javascript:return false">Courtesy</a>
            </div>
    </div>

    <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://50.7.99.163:16098/stream?type=http&nocache=2',17)" 
    ng-class="( (revampvm.selectedRadio===17) ?'radio-title-selected':'')">
      <div class="media-title">Flowers FM</div>
      <span class="media-sub-title">UAE</span>
      <span class='load-icon17'></span>
      <div class="media-courtesy">
              <a  ng-click="revampvm.doNavigate('http://flowersfm.com/',$event)" 
              ng-href="javascript:return false">Courtesy</a>
          </div>
  </div>

  <div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://132.148.128.197:8000/helloradio.ogg',20)" 
    ng-class="( (revampvm.selectedRadio===20) ?'radio-title-selected':'')">
      <div class="media-title">Hello Radio</div>
      <span class="media-sub-title">India</span>
      <span class='load-icon20'></span>
      <div class="media-courtesy">
              <a  ng-click="revampvm.doNavigate('http://www.helloradio.in/',$event)" 
              ng-href="javascript:return false">Courtesy</a>
          </div>
  </div>


  













<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://51.15.208.163:8081/radio/RadioMango_1/icecast.audio',13)" 
  ng-class="( (revampvm.selectedRadio===13) ?'radio-title-selected':'')">
    <div class="media-title">Radio Mango</div>
    <span class="media-sub-title">UAE</span>
    <span class='load-icon13'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://www.radiomango.fm/home.html/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://playerservices.streamtheworld.com/api/livestream-redirect/CLUBFMUAEAAC.aac',14)" 
  ng-class="( (revampvm.selectedRadio===14) ?'radio-title-selected':'')">
    <div class="media-title">Club FM 99.6</div>
    <span class="media-sub-title">UAE</span>
    <span class='load-icon14'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://clubfm.ae/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://19393.live.streamtheworld.com/HITAAC.aac',15)" 
  ng-class="( (revampvm.selectedRadio===15) ?'radio-title-selected':'')">
    <div class="media-title">Hit FM 96.7</div>
    <span class="media-sub-title">UAE</span>
    <span class='load-icon15'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('https://www.hit967.ae/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://vokcast.bluecast.in:8227/986fm',19)" 
  ng-class="( (revampvm.selectedRadio===19) ?'radio-title-selected':'')">
    <div class="media-title">Radio 98.6</div>
    <span class="media-sub-title">Qatar</span>
    <span class='load-icon19'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://radio986.com/',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>




<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://s35.myradiostream.com:28232/;',35)" 
  ng-class="( (revampvm.selectedRadio===35) ?'radio-title-selected':'')">
    <div class="media-title">Radio Ayyappa</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon35'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://myradiostream.com/station/flashplayer.php?s=s35&p=28232',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>


<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://95.154.254.151:16123/;',36)" 
  ng-class="( (revampvm.selectedRadio===36) ?'radio-title-selected':'')">
    <div class="media-title">NM Bhakthi</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon36'></span>
    <div class="media-courtesy">
            <a  ng-click="revampvm.doNavigate('http://njanmalayalee.com/bhakthi.html',$event)" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>

<div class="hp-tile" ng-click="revampvm.toggleAudioPlay('http://viadj.viastreaming.net:7070/;',37)" 
  ng-class="( (revampvm.selectedRadio===37) ?'radio-title-selected':'')">
    <div class="media-title">Nadam Radio</div>
    <span class="media-sub-title">India</span>
    <span class='load-icon37'></span>
    <div class="media-courtesy">
            <a  ng-click="$event.stopPropagation();" 
            ng-href="javascript:return false">Courtesy</a>
        </div>
</div>








</div>
